.Section-content.Story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--violet-color);
    color: rgb(255, 255, 255);
}

.Happystory {
    max-width: 1200px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em;
 
}

.Section-img-happystory{
    border-radius: 1.5em;
}

.Section-col-info-detail-happystory.Nombre{
 font-size: 1.625rem;
 font-weight: 600;
 margin: .5em;
 color: rgb(255, 255, 255);
 margin-top: 1em;
}

.Section-col-info-detail-happystory.Descripcion{
    font-size: 1.125rem;
}